html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: blue;
}

.header {
    color: cornsilk;
    display: flex;
    flex-direction: row;
}

ol {
    background-color: crimson;
    font-size: 20px;
    color: cornsilk;
}

.item-complete{
    text-decoration: line-through;
    text-decoration-color: black;
}

.todo-card {
    border: 1px solid black;
    border-radius: 25px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 25px;
    text-align: center;
}

#listForm {
    color: cornsilk
}